
body{
    font-family: Arial, sans-serif; 
}
table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0; 
    font-size: 18px; 
    text-align: left; 
}


th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd; 
}


tr:nth-child(even) {
    background-color: #f3f3f3; 
}


th {
    background-color: #009879; 
    color: white; 
    font-weight: bold; 
}

